<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Update İnformantions</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="userUpdateForm">
            <div class="mb-3">
                <div class="form-group">
                  <input
                  type="hidden"
                  class="form-control"
                  id="id"
                  formControlName="id"
                  value="user.id"

                 >
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="firstName"
                        formControlName="firstName"
                        class="form-control"
                        placeholder="İsim"
                      />
                    </div>
                  </div>

              </div>
              <div class="mb-3">
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="lastName"
                        formControlName="lastName"
                        class="form-control"
                        placeholder="Soyad"
                      />
                    </div>
                  </div>

              </div>
              <div class="mb-3">
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="form-group">
                      <input
                        type="email"
                        id="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="email"
                      />
                    </div>
                  </div>

              </div>
              <div class="mb-3">
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="form-group">
                      <input
                        type="password"
                        id="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="password"
                      />
                    </div>
                  </div>

              </div>
              
          
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-success" (click)="informations()">My information</button>
          <hr>
            <button class="btn btn-fill btn-danger"(click)="update()" >Update</button>
        </div>
      </div>
  
  
    </div>
  </div> 
