<div class="content">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header"><h5 class="title">Ödeme işlemleri</h5></div>
        <div class="card-body">
            
        <form [formGroup]="payForm">

            <div class="mb-3">
            <div class="form-group">
                <input type="text" id="cardNumber" formControlName="cardNumber" 
                class="form-control" placeholder="Kart numarasını gir"/>
            </div>
           </div>
           <div class="mb-3">
            <div class="form-group">
                <input type="text" id="firstName" formControlName="firstName" 
                class="form-control" placeholder="Adını gir"/>
            </div>
             </div>
             <div class="mb-3">
            <div class="form-group">
                <input type="text" id="lastName" formControlName="lastName" 
                class="form-control" placeholder="Soyadını gir"/>
            </div>
            </div>
            <div class="mb-3">
            <div class="form-group">
                <input type="text" id="expirationDate" formControlName="expirationDate" 
                class="form-control" placeholder="Kart son kullanma tarihi"/>
            </div>
            </div>
            <div class="mb-3">
            <div class="form-group">
                <input type="text" id="cVV" formControlName="cVV" 
                class="form-control" placeholder="3 haneli cvv ni gir"/>
            </div>
        </div>

        </form>

    </div>
    <div class="card-footer">
        <button class="btn btn-fill btn-primary" role="button" (click)="pay()">Ödeme yap</button>
    </div>


        </div>


    </div>
   
</div>